.page {
  font-family: "Inter", 'Arial', sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

.page__content {
  max-width: calc(100% - 10.93%);
  width: 100%;
  margin: 0 auto;
  padding: 0;
}


@media screen and (max-width: 769px) {
  .page__content {
    max-width: calc(100% - 13.01%);
  }

}

@media screen and (max-width: 321px) {
  .page__content {
    max-width: 284px;
  }

}

@media screen and (min-width: 1281px) {
  .page__content{
    max-width: 1140px;
  }
  
}