.movies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: calc(100% - 10.93%);
    margin: 0 auto;
}

@media screen and (max-width: 769px) {
    .movies{
        max-width: calc(100% - 7.81%);
    }
    
}