.promo {
  background-color: #073042;
  padding: 0 0 75px 0;
  margin: 0;
}
.promo__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin: 146px 0 0 0;
  width: 129px;
  height: 36px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 3px;
}
.promo__title {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
}

.promo__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 75px;
  padding: 0;
}

.promo__image {
  display: flex;
  width: 310px;
  height: 304px;
}

.promo__paragraph {
  margin: 36px 0 0 0;
  max-width: 310px;
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
}

.promo__container_place_text {
  max-width: 640px;
}

@media screen and (max-width: 769px) {
  .promo__link {
    margin: 92px auto 0 auto;
  }

  .promo__container {
    margin-top: 140px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .promo__paragraph {
    max-width: 260px;
    margin: 24px auto 0 auto;
    font-size: 13px;
    line-height: 15.73px;
    text-align: center;
  }
  .promo__title {
    margin-top: 48px;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .promo {
    padding-bottom: 30px;
  }
  .promo__container {
    margin-top: 70px;
    max-width: 301px;
  }
  .promo__image {
    margin: 0;
    width: 210.001px;
    height: 206px;
  }
  .promo__title {
    margin-top: 44px;
    font-size: 30px;
    line-height: 38px; /* 126.667% */
    letter-spacing: -1.2px;
  }
  .promo__link {
    width: 129px;
    height: 36px;
    margin-top: 80px;
  }
}
