.aboutProject__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 110px auto 110px auto;
  padding: 0;
}

.aboutProject__headline {
  letter-spacing: -0.88px;
  font-size: 22px;
  width: 100%;
  line-height: 26px;
  margin: 0;
  padding: 0 0 23px 0;
  font-weight: 400;
  border-bottom: 1px solid #000000;
}
.aboutProject__grid-container {
  width: 100%;
  margin: 70px auto 0 auto;
  display: grid;
  grid-template-areas:
    "title-left title-right"
    "paragraph-left paragraph-right";
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-gap: 26px 30px;
}
.aboutProject__title_position_left {
  grid-area: title-left;
}
.aboutProject__title_position_right {
  grid-area: title-right;
}
.aboutProject__paragraph_position_left {
  grid-area: paragraph-left;
}
.aboutProject__paragraph_position_right {
  grid-area: paragraph-right;
}
.aboutProject__title {
  font-size: 20px;
  line-height: 24.2px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  letter-spacing: -0.8px;
}

.aboutProject__paragraph {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.aboutProject__time-block {
  display: grid;
  width: 100%;
  margin: 110px auto 0 auto;
  grid-template-columns: 20% 80%;
  grid-template-rows: repeat(2, 36px);
  text-align: center;
  justify-content: center;
  align-items: center;
}
.aboutProject__time-title {
  display: flex;
  font-size: 14px;
  line-height: 18px;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100%;
}
.aboutProject__time-title_background_green {
  background-color: rgba(43, 224, 128, 1);
}
.aboutProject__time-title_background_gray {
  background-color: rgba(242, 242, 242, 1);
}
.aboutProject__time-subtitle {
  display: flex;
  margin: 10px 0 0 0;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: rgba(160, 160, 160, 1);
}
@media screen and (max-width: 769px) {
  .aboutProject__grid-container {
    grid-gap: 22px 30px;
  }
  .aboutProject__paragraph {
    font-size: 12px;
    line-height: 18px;
  }

  .aboutProject__container {
    margin: 90px auto 90px auto;
  }
  .aboutProject__time-block {
    margin: 93px 0 0 0;
  }
}

@media screen and (max-width: 321px) {
  .aboutProject__container {
    margin-top: 70px;
    margin-bottom: 69px;
    max-width: calc(100% - 36px);
  }
  .aboutProject__headline {
    padding-bottom: 28px;
    font-size: 18px;
    line-height: normal;
  }
  .aboutProject__grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title-left"
      "paragraph-left"
      "title-right"
      "paragraph-right";
    margin-top: 60px;
    grid-row-gap: 16px;
  }
  .aboutProject__title {
    font-size: 18px;
    line-height: normal;
    letter-spacing: -0.72px;
  }
  .aboutProject__paragraph {
    font-size: 11px;
    line-height: 16px; /* 145.455% */
  }
  .aboutProject__time-block {
    margin-top: 60px;
  }
  .aboutProject__time-block {
    grid-template-columns: 100px 184px;
  }
  .aboutProject__time-title {
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
  }
  .aboutProject__time-subtitle {
    margin-top: 0;
    font-size: 11px;
    font-weight: 400;
  }
  .aboutProject__title_position_right {
    margin-top: 40px;
  }
}
