.techs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 245, 1);
  margin: 0;
}

.techs__headline {
  letter-spacing: -0.88px;
  font-size: 22px;
  width: 100%;
  line-height: 27px;
  margin: 100px 0 0 0;
  padding: 0 0 23px 0;
  font-weight: 400;
  border-bottom: 1px solid #000000;
}
.techs__text-container {
  display: flex;
  width: 100%;
  max-width: 470px;
  margin: 90px auto 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}
.techs__title {
  margin: 0;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -2px;
}
.techs__paragraph {
  font-size: 14px;
  line-height: 20px;
  margin: 26px 0 0 0;
  text-align: center;
  letter-spacing: -0.48px;
}
.techs__techs-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 100px auto 100px auto;
  padding: 0;
}
.techs__tech {
  font-size: 14px;
  letter-spacing: -0.56px;
  line-height: normal;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 0 10px 0 0;
  height: 60px;
  width: 90px;
  background-color: rgba(232, 232, 232, 1);
}

@media screen and (max-width: 769px) {
  .techs__headline {
    margin-top: 90px;
  }
  .techs__techs-list {
    margin-top: 83px;
    margin-bottom: 90px;
  }
  .techs__text-container {
    margin-top: 80px;
  }
  .techs__paragraph {
    margin-top: 22px;
    max-width: 460px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px; /* 150% */
    letter-spacing: -0.48px;
  }
  .techs__tech {    
    width: 84px;
    height: 57px;
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}

@media screen and (max-width: 321px) {
  .techs {
    background-color: transparent;
  }
  .techs__headline {
    margin-top: 59px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.72px;
    line-height: normal;
    padding-bottom: 28px;
  }
  .techs__text-container {
    margin-top: 60px;
  }
  .techs__title {
    text-align: center;
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
  }
  .techs__paragraph {
    width: 100%;

    font-size: 11px;
    font-weight: 400;
    line-height: 16px; /* 145.455% */
    letter-spacing: -0.44px;
  }
  .techs__techs-list {
    justify-content: flex-start;
    margin-top: 40px;
    margin-bottom: 70px;
    flex-wrap: wrap;
    max-width: 190px;
  }
  .techs__tech{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
