.aboutMe {
  display: flex;
  flex-direction: column;
}

.aboutMe__text-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.aboutMe__headline {
  font-size: 22px;
  width: 100%;
  line-height: 27px;
  margin: 110px 0 0 0;
  padding: 0 0 23px 0;
  font-weight: 400;
  border-bottom: 1px solid #000000;
}
.aboutMe__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 66px 0 0 0;
}
.aboutMe__name {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  margin: 0;
  letter-spacing: -2px;
}

.aboutMe__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 18px 0 0 0;
}

.aboutMe__text {
  margin: 26px 0 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.aboutMe__link {
  text-decoration: none;
  color: #000000;
  margin: 99px 0 0 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
}

.aboutMe__photo {
  width: 270px;
  height: 327px;
  border-radius: 10px;
}
@media screen and (max-width: 769px) {
  .aboutMe__headline {
    margin-top: 90px;
  }
  .aboutMe__text {
    margin-top: 20px;
    max-width: 364px;
    font-size: 12px;
    line-height: 18px; /* 150% */
  }
  .aboutMe__photo {
    max-width: 255px;
    height: 307px;
  }
  .aboutMe__name {
    font-size: 40px;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: -1.6px;
  }

  .aboutMe__title {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px; /* 150% */
    margin-top: 16px;
  }
  .aboutMe__link {
    margin-top: 87px;
  }
}

@media screen and (max-width: 407px) {
  .aboutMe{
    max-width: 292px;
  }
  .aboutMe__headline {
    margin-top: 70px;
    font-size: 18px;
    letter-spacing: -0.72px;
    border-bottom: 28px 1px #000;
  }
  .aboutMe__main {
    margin-top: 60px;
    flex-direction: column-reverse;
  }
  .aboutMe__text-container {
    margin-top: 40px;
  }
  .aboutMe__photo {
    width: 100%;
    max-width: 292px;
    height: 352px;
  }
  .aboutMe__name {
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
  }
  .aboutMe__text {
    font-feature-settings: "clig" off, "liga" off;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 145.455% */
  }
  .aboutMe__link {
    margin-top: 40px;
  }
}
